*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(0, 0%, 81%);
}

main {
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: none;
}

.card-container {
  max-width: 111rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.card {
  padding: 2.4rem 3.6rem;
  border-radius: 9px;
}

.card-daniel {
  background-color: hsl(263, 55%, 52%);
  grid-column: span 2;

  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 8.6rem;
}

.card-jonathan {
  background-color: hsl(217, 19%, 35%);
}

.card-patrick {
  background-color: hsl(219, 29%, 14%);
  grid-column: span 2;
}

.card-jeanette,
.card-kira {
  background-color: hsl(0, 0%, 100%);
}

.card-jeanette .card-header,
.card-kira .card-header,
.card-jeanette .user-name,
.card-kira .user-name {
  color: hsl(219, 29%, 14%);
}

.card-jeanette .user-verified,
.card-kira .user-verified {
  color: rgb(25, 33, 46, 0.5);
  opacity: 100%;
}

.card-jeanette .card-text,
.card-kira .card-text {
  color: rgb(25, 33, 46, 0.7);
  opacity: 100%;
}

.card-kira {
  grid-row: 1 / 3;
  grid-column: 4;
}

.user-content {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 1.6rem;
}

.user-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.user-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.user-verified {
  font-size: 1.2rem;
  opacity: 50%;
}

.card-header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.6rem;
}

.card-text {
  line-height: 1.6;
  opacity: 70%;
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
  }

  main {
    padding: 4.8rem 2.4rem;
  }

  .card {
    padding: 3rem 4.8rem;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .card-daniel,
  .card-patrick,
  .card-kira {
    grid-column: auto;
    grid-row: auto;
  }

  .card-daniel {
    background-position: top 0 right 4.3rem;
  }
}
